.App {
  text-align: center;
}

:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 486px) {
  html {
    font-size: 48%;
  }
}
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 50s reverse;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* font-family: 'Roboto', ;
font-family: 'Oswald', ;
font-family: 'Arvo', ;
font-family: 'Julius Sans One', ; */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
